
<!DOCTYPE html>

<html>

  <head>

    <title>About Me</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel='stylesheet' href='/stylesheets/home.css' />

    <script src="/javascripts/bootstrap.min.css"></script>

  </head>

  <body>

    <%- include('partials/navbar'); %>

    <div class="content">

      <br><br>

      <h2>Erxun Zhang</h2><br>

      <h4>Graduated from University of Saskatchewan Majored in Computer Science</h4><br> 

    </div>

  </body>

</html>
