<!DOCTYPE html>

<html>

  <head>

    <title>Contact Me</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel='stylesheet' href='/stylesheets/home.css' />

    <script src="/javascripts/bootstrap.min.css"></script>

  </head>

  <body>

    <%- include('partials/navbar'); %>

    <div class="content">

      <br><br>

      <h3>Erxun Zhang</h3><br>

      <h3>Email: <a href="mailto:mr.erxun.zhang@outlook.com">mr.erxun.zhang@outlook.com</a></h3><br>

      <h3>Mobile Phone: 306-341-6922</h3>
      
    </div>

  </body>

</html>
