
<!DOCTYPE html>

<html>

  <head>
  
    <title>Welcome</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel='stylesheet' href='/stylesheets/home.css' />

    <script src="/javascripts/bootstrap.min.js"></script>

  </head>
  
  <body>
  
        <%- include('partials/navbar'); %>

        <div class="content">

          <br><br>

          <h1 class="Content">Welcome</h1>

          <p class="Content">Welcome to my Portfolio Site. By: Erxun Zhang</p>

          <br><br>

          <a href="/about"> <button type="button" class="btn btn-primary">About Me</button></a>

        </div>

  </body>

</html>
