<!DOCTYPE html>

<html>

  <head>

    <title>Projects</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel='stylesheet' href='/stylesheets/home.css' />

    <script src="/javascripts/bootstrap.min.js"></script>

  </head>

  <body>

    <%- include('partials/navbar'); %>

    <div class="content">

      <br><br>

      <h2>Projects</h2><br>

      <h3>Google Map</h3><br>

      <h4>Allow users to search location and mark on the Map</h4><br>

      <h4>My Role: Front End developer</h4>

      <img src="images/GoogleMap.JPG" height='350' width="600"><br>

      <h3>BlockChain Wallet</h3><br>

      <h4>Allows users to register a BlockChain wallet and use the website to do transactions</h4><br>

      <h4>My Role: Full Stack Developer</h4>

      <img src="images/BlockChain.JPG" height='350' width="600"><br>

      <h3>Company Information</h3><br>

      <h4>Display the comapny stock in pie chart or k-line</h4><br>

      <h4>My Role: Full Stack Developer</h4>

      <img src="images/Company.JPG" height='350' width="600"><br>

      <h3></h3>
      
    </div>

  </body>

</html>
