<!DOCTYPE html>

<html>

  <head>

    <title>Projects</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel='stylesheet' href='/stylesheets/home.css' />

    <script src="/javascripts/bootstrap.min.css"></script>

  </head>

  <body>

    <%- include('partials/navbar'); %>

    <div class="content">

      <br><br>

      <h2>Project</h2><br>

      <h3>BlockChain Wallet</h3><br>

      <h4>Allows users to register a BlockChain wallet and use the website to do transactions</h4><br>

      <h3></h3>
      
    </div>

  </body>

</html>
