<!DOCTYPE html>

<html>

  <head>

    <title>Services</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link rel='stylesheet' href='/stylesheets/home.css' />

    <script src="/javascripts/bootstrap.min.js"></script>

  </head>

  <body>

    <%- include('partials/navbar'); %>

    <div class="content">

      <br><br>

      <h2>Services</h2><br>

      <h4>Web Development</h4><br>

      <h4>Front End: Angualr, React</h4><br>

      <h4>Back End: Django, ExpressJS</h4>
      
    </div>

  </body>

</html>
