
/* login.js, Erxun Zhang, 301331403, 2023-2-21 */

.user-input{ /* Set the style of the input */

    width: 30%;

    margin: 0 auto;
    
}

.input-label{ /* Style of the label before the input */

    width: 150px;
    
    text-align: right;
    
}
